<app-top-bar></app-top-bar>
<app-nav-bar></app-nav-bar>
<main>
  <section id="landing_section" class="h-[40vh]">
    <div
      class="relative left-0 top-0 h-full w-full bg-cover bg-center bg-no-repeat"
      style="
        background-image: url(&quot;services/audit/landing_image.jpeg&quot;);
      "
    >
      <div class="absolute inset-0 bg-black/50"></div>
      <div class="relative flex h-full w-full items-center justify-center">
        <h1 class="text-center text-4xl text-white md:text-5xl lg:text-6xl">
          Transfer Pricing
        </h1>
      </div>
    </div>
  </section>
  <section class="py-10">
    <div class="mx-auto max-w-screen-xl p-4">
      <h2
        class="my-0 mb-5 border-0 border-l-[10px] border-solid border-primary p-3 text-3xl font-bold"
      >
        Overview
      </h2>
      <div class="max-w-screen-lg">
        <p class="text-base md:pl-7 md:text-xl">
          In today's complex arena of cross-border transactions, companies of
          diverse sizes have come to a clear realization regarding the pivotal
          importance of transfer pricing. This recognition has been catalyzed by
          the growing intensity of oversight and scrutiny from tax authorities,
          as well as the continual reinforcement of regulatory standards. As a
          result, businesses are now confronted with escalated risks, both in
          terms of compliance and financial implications.
        </p>
        <p class="text-base md:pl-7 md:text-xl">
          In this challenging and ever-evolving landscape, our experienced and
          proficient team is fully prepared to offer invaluable expert guidance.
          We are poised to assist you in effectively navigating the intricate
          web of transfer pricing considerations, ensuring that you are not only
          compliant with regulatory requirements but also optimizing your
          financial outcomes. Our mission is to help you steer a strategic
          course toward the most advantageous solutions, safeguarding your
          business against potential pitfalls and securing its competitive
          advantage in the global marketplace.
        </p>
      </div>
    </div>
  </section>

  <app-scroll-to-top></app-scroll-to-top>
</main>
<app-footer></app-footer>
