<app-nav></app-nav>
<main class="h-full min-h-[870px] flex-1 bg-gray-100 p-6">
  <section class="md:p-5 lg:ml-64">
    <div class="mx-auto max-w-screen-lg rounded-lg bg-white p-8 shadow-lg">
      <!-- add new post form -->
      <h1 class="mb-6 text-2xl font-bold">New Member</h1>

      <form (ngSubmit)="addNewMember(newMemberForm)" #newMemberForm="ngForm">
        <!-- Title Input -->
        <div class="mb-5">
          <label
            class="mb-2 block font-bold text-gray-700 after:text-red-500 after:content-['*']"
            for="name"
          >
            Name
          </label>
          <input
            type="text"
            id="name"
            class="w-full rounded-md border border-gray-300 bg-gray-50 px-3 py-2 text-lg shadow-sm"
            placeholder="Enter Name"
            required
            name="name"
            ngModel
            pInputText
          />
        </div>
        <div class="mb-5">
          <label
            class="mb-2 block font-bold text-gray-700 after:text-red-500 after:content-['*']"
            for="title"
          >
            Title
          </label>
          <input
            type="text"
            id="title"
            class="w-full rounded-md border border-gray-300 bg-gray-50 px-3 py-2 text-lg shadow-sm"
            placeholder="Enter Title"
            required
            name="title"
            ngModel
            pInputText
          />
        </div>

        <!-- Deparmtnet Input -->
        <div class="mb-5">
          <label
            class="mb-2 block font-bold text-gray-700 after:text-red-500 after:content-['*']"
            for="department"
          >
            Department
          </label>
          <p-dropdown
            [options]="departments"
            [(ngModel)]="selectedDepartmentValue"
            optionLabel="label"
            optionValue="value"
            placeholder="Choose a Department"
            [style]="{
              backgroundColor: '#F9FAFB',
              width: '100%',
              outline: 'none',
              boxShadow: 'none',
            }"
            inputId="department"
            required
            #department="ngModel"
            name="department"
          />
        </div>
        <div class="mb-6">
          <label
            class="mb-2 block font-bold text-gray-700 after:text-red-500 after:content-['*']"
            for="image"
          >
            Upload Image
          </label>
          <div class="relative">
            <input
              type="file"
              id="image"
              accept="image/*"
              required
              ngModel
              #image="ngModel"
              name="image"
              class="absolute inset-0 h-full w-full cursor-pointer opacity-0"
              (change)="onFileSelected($event)"
            />

            <div
              class="flex items-center rounded-md border border-gray-300 bg-[#F9FAFB] p-3 transition-colors hover:border-blue-500"
            >
              <span class="flex-1 truncate text-gray-700">
                <i class="pi pi-file-pdf mr-2 text-gray-600"></i>
                @if (filename) {
                  {{ filename }}
                } @else {
                  No file choosen
                }
              </span>
            </div>
          </div>
        </div>

        <div>
          <button
            pButton
            label="Add Member"
            class="p-button-success"
            type="submit"
            [loading]="isLoading"
            [style]="{
              width: '100%',
              outline: 'none',
              boxShadow: 'none',
              border: 'none',
            }"
            [disabled]="newMemberForm.invalid"
          ></button>
        </div>
      </form>
    </div>
  </section>
</main>
