<app-top-bar></app-top-bar>
<app-nav-bar></app-nav-bar>
<main>
  <section class="bg-[#F9F7F7] py-10">
    <div class="mx-auto max-w-screen-xl p-4">
      <div class="flex flex-col items-center gap-10 md:flex-row">
        <h2
          class="border-0 border-l-[12px] border-solid border-primary p-4 text-4xl font-bold"
        >
          ATC members
        </h2>
        <div class="flex-1 text-center text-2xl text-grayTitle">
          At ATC over 700 employees work with motivation and quality to serve
          clients needs
        </div>
      </div>
    </div>
  </section>

  <section class="py-10">
    <div class="mx-auto max-w-screen-xl p-4">
      <div>
        <h3 class="text-center text-3xl">Top Management Team</h3>
        <div class="grid grid-cols-1 gap-10 md:grid-cols-2 lg:grid-cols-4">
          @for (member of topManagement; track $index) {
            <div
              class="relative left-0 top-0 h-[400px] rounded-lg border-2 border-solid border-primary shadow-lg"
            >
              <img
                [src]="member.imageUrl"
                [alt]="member.name"
                class="h-full w-full rounded-md object-cover"
              />
              <div
                class="absolute bottom-0 left-0 w-full rounded-b-xl bg-gray-900 bg-opacity-70 p-4"
              >
                <h4 class="my-2 text-2xl text-white">{{ member.name }}</h4>
                <p class="m-0 text-lg text-white">
                  {{ member.title }}
                </p>
              </div>
            </div>
          }
        </div>
      </div>
      <div>
        <h3 class="text-center text-3xl">High Board Members</h3>
        <div class="grid grid-cols-1 gap-10 md:grid-cols-2 lg:grid-cols-4">
          @for (member of highBoardMembers; track $index) {
            <div
              class="relative left-0 top-0 h-[400px] rounded-lg border-2 border-solid border-primary shadow-lg"
            >
              <img
                [src]="member.imageUrl"
                [alt]="member.name"
                loading="lazy"
                class="h-full w-full rounded-md object-cover"
              />
              <div
                class="absolute bottom-0 left-0 w-full rounded-b-xl bg-gray-900 bg-opacity-70 p-4"
              >
                <h4 class="my-2 text-2xl text-white">{{ member.name }}</h4>
                <p class="m-0 text-lg text-white">
                  {{ member.title }}
                </p>
              </div>
            </div>
          }
        </div>
      </div>
      <div>
        <h3 class="text-center text-3xl">Branch Managers</h3>
        <div class="grid grid-cols-1 gap-10 md:grid-cols-2 lg:grid-cols-4">
          @for (member of branchManagers; track $index) {
            <div
              class="relative left-0 top-0 h-[400px] rounded-lg border-2 border-solid border-primary shadow-lg"
            >
              <img
                [src]="member.imageUrl"
                [alt]="member.name"
                loading="lazy"
                class="h-full w-full rounded-md object-cover"
              />
              <div
                class="absolute bottom-0 left-0 w-full rounded-b-xl bg-gray-900 bg-opacity-70 p-4"
              >
                <h4 class="my-2 text-2xl text-white">{{ member.name }}</h4>
                <p class="m-0 text-lg text-white">
                  {{ member.title }}
                </p>
              </div>
            </div>
          }
        </div>
      </div>
      <div>
        <h3 class="text-center text-3xl">Cooprate Tax Department</h3>
        <div class="grid grid-cols-1 gap-10 md:grid-cols-2 lg:grid-cols-4">
          @for (member of cooprateTaxMembers; track $index) {
            <div
              class="relative left-0 top-0 h-[400px] rounded-lg border-2 border-solid border-primary shadow-lg"
            >
              <img
                [src]="member.imageUrl"
                [alt]="member.name"
                loading="lazy"
                class="h-full w-full rounded-md object-cover"
              />
              <div
                class="absolute bottom-0 left-0 w-full rounded-b-xl bg-gray-900 bg-opacity-70 p-4"
              >
                <h4 class="my-2 text-2xl text-white">{{ member.name }}</h4>
                <p class="m-0 text-lg text-white">
                  {{ member.title }}
                </p>
              </div>
            </div>
          }
        </div>
      </div>
      <div>
        <h3 class="text-center text-3xl">VAT Department</h3>
        <div class="grid grid-cols-1 gap-10 md:grid-cols-2 lg:grid-cols-4">
          @for (member of vatMembers; track $index) {
            <div
              class="relative left-0 top-0 h-[400px] rounded-lg border-2 border-solid border-primary shadow-lg"
            >
              <img
                [src]="member.imageUrl"
                [alt]="member.name"
                loading="lazy"
                class="h-full w-full rounded-md object-cover"
              />
              <div
                class="absolute bottom-0 left-0 w-full rounded-b-xl bg-gray-900 bg-opacity-70 p-4"
              >
                <h4 class="my-2 text-2xl text-white">{{ member.name }}</h4>
                <p class="m-0 text-lg text-white">
                  {{ member.title }}
                </p>
              </div>
            </div>
          }
        </div>
      </div>
      <div class="">
        <h3 class="text-center text-3xl">Salary & Wages Tax Department</h3>
        <div class="grid grid-cols-1 gap-10 md:grid-cols-2 lg:grid-cols-4">
          @for (member of salaryAndWagesTaxMembers; track $index) {
            <div
              class="relative left-0 top-0 h-[400px] rounded-lg border-2 border-solid border-primary shadow-lg"
            >
              <img
                [src]="member.imageUrl"
                [alt]="member.name"
                loading="lazy"
                class="h-full w-full rounded-md object-cover"
              />
              <div
                class="absolute bottom-0 left-0 w-full rounded-b-xl bg-gray-900 bg-opacity-70 p-4"
              >
                <h4 class="my-2 text-2xl text-white">{{ member.name }}</h4>
                <p class="m-0 text-lg text-white">
                  {{ member.title }}
                </p>
              </div>
            </div>
          }
        </div>
      </div>
      <div>
        <h3 class="text-center text-3xl">International Taxation Department</h3>
        <div class="grid grid-cols-1 gap-10 md:grid-cols-2 lg:grid-cols-4">
          @for (member of internationalTaxationMembers; track $index) {
            <div
              class="relative left-0 top-0 h-[400px] rounded-lg border-2 border-solid border-primary shadow-lg"
            >
              <img
                [src]="member.imageUrl"
                [alt]="member.name"
                loading="lazy"
                class="h-full w-full rounded-md object-cover"
              />
              <div
                class="absolute bottom-0 left-0 w-full rounded-b-xl bg-gray-900 bg-opacity-70 p-4"
              >
                <h4 class="my-2 text-2xl text-white">{{ member.name }}</h4>
                <p class="m-0 text-lg text-white">
                  {{ member.title }}
                </p>
              </div>
            </div>
          }
        </div>
      </div>

      <div>
        <h3 class="text-center text-3xl">Stamp Tax Department</h3>
        <div class="grid grid-cols-1 gap-10 md:grid-cols-2 lg:grid-cols-4">
          @for (member of stampTaxMembers; track $index) {
            <div
              class="relative left-0 top-0 h-[400px] rounded-lg border-2 border-solid border-primary shadow-lg"
            >
              <img
                [src]="member.imageUrl"
                [alt]="member.name"
                loading="lazy"
                class="h-full w-full rounded-md object-cover"
              />
              <div
                class="absolute bottom-0 left-0 w-full rounded-b-xl bg-gray-900 bg-opacity-70 p-4"
              >
                <h4 class="my-2 text-2xl text-white">{{ member.name }}</h4>
                <p class="m-0 text-lg text-white">
                  {{ member.title }}
                </p>
              </div>
            </div>
          }
        </div>
      </div>

      <div>
        <h3 class="text-center text-3xl">Audit Department</h3>
        <div class="grid grid-cols-1 gap-10 md:grid-cols-2 lg:grid-cols-4">
          @for (member of auditMembers; track $index) {
            <div
              class="relative left-0 top-0 h-[400px] rounded-lg border-2 border-solid border-primary shadow-lg"
            >
              <img
                [src]="member.imageUrl"
                [alt]="member.name"
                loading="lazy"
                class="h-full w-full rounded-md object-cover"
              />
              <div
                class="absolute bottom-0 left-0 w-full rounded-b-xl bg-gray-900 bg-opacity-70 p-4"
              >
                <h4 class="my-2 text-2xl text-white">{{ member.name }}</h4>
                <p class="m-0 text-lg text-white">
                  {{ member.title }}
                </p>
              </div>
            </div>
          }
        </div>
      </div>
      <div>
        <h3 class="text-center text-3xl">Finance & Bookkeeping Department</h3>
        <div class="grid grid-cols-1 gap-10 md:grid-cols-2 lg:grid-cols-4">
          @for (member of financeAndBookeepingMembers; track $index) {
            <div
              class="relative left-0 top-0 h-[400px] rounded-lg border-2 border-solid border-primary shadow-lg"
            >
              <img
                [src]="member.imageUrl"
                [alt]="member.name"
                loading="lazy"
                class="h-full w-full rounded-md object-cover"
              />
              <div
                class="absolute bottom-0 left-0 w-full rounded-b-xl bg-gray-900 bg-opacity-70 p-4"
              >
                <h4 class="my-2 text-2xl text-white">{{ member.name }}</h4>
                <p class="m-0 text-lg text-white">
                  {{ member.title }}
                </p>
              </div>
            </div>
          }
        </div>
      </div>
      <div class="">
        <h3 class="text-center text-3xl">
          Investment & Company Incorporation Department
        </h3>
        <div class="grid grid-cols-1 gap-10 md:grid-cols-2 lg:grid-cols-4">
          @for (
            member of investmentAndCompanyIncorporationMembers;
            track $index
          ) {
            <div
              class="relative left-0 top-0 h-[400px] rounded-lg border-2 border-solid border-primary shadow-lg"
            >
              <img
                [src]="member.imageUrl"
                [alt]="member.name"
                loading="lazy"
                class="h-full w-full rounded-md object-cover"
              />
              <div
                class="absolute bottom-0 left-0 w-full rounded-b-xl bg-gray-900 bg-opacity-70 p-4"
              >
                <h4 class="my-2 text-2xl text-white">{{ member.name }}</h4>
                <p class="m-0 text-lg text-white">
                  {{ member.title }}
                </p>
              </div>
            </div>
          }
        </div>
      </div>
      <div class="">
        <h3 class="text-center text-3xl">Translation Department</h3>
        <div class="grid grid-cols-1 gap-10 md:grid-cols-2 lg:grid-cols-4">
          @for (member of translationMembers; track $index) {
            <div
              class="relative left-0 top-0 h-[400px] rounded-lg border-2 border-solid border-primary shadow-lg"
            >
              <img
                [src]="member.imageUrl"
                [alt]="member.name"
                loading="lazy"
                class="h-full w-full rounded-md object-cover"
              />
              <div
                class="absolute bottom-0 left-0 w-full rounded-b-xl bg-gray-900 bg-opacity-70 p-4"
              >
                <h4 class="my-2 text-2xl text-white">{{ member.name }}</h4>
                <p class="m-0 text-lg text-white">
                  {{ member.title }}
                </p>
              </div>
            </div>
          }
        </div>
      </div>
      <div class="">
        <h3 class="text-center text-3xl">Development Department</h3>
        <div class="grid grid-cols-1 gap-10 md:grid-cols-2 lg:grid-cols-4">
          @for (member of developmentMembers; track $index) {
            <div
              class="relative left-0 top-0 h-[400px] rounded-lg border-2 border-solid border-primary shadow-lg"
            >
              <img
                [src]="member.imageUrl"
                [alt]="member.name"
                loading="lazy"
                class="h-full w-full rounded-md object-cover"
              />
              <div
                class="absolute bottom-0 left-0 w-full rounded-b-xl bg-gray-900 bg-opacity-70 p-4"
              >
                <h4 class="my-2 text-2xl text-white">{{ member.name }}</h4>
                <p class="m-0 text-lg text-white">
                  {{ member.title }}
                </p>
              </div>
            </div>
          }
        </div>
      </div>
      <div class="">
        <h3 class="text-center text-3xl">Pro Training Department</h3>
        <div class="grid grid-cols-1 gap-10 md:grid-cols-2 lg:grid-cols-4">
          @for (member of proTrainingMembers; track $index) {
            <div
              class="relative left-0 top-0 h-[400px] rounded-lg border-2 border-solid border-primary shadow-lg"
            >
              <img
                [src]="member.imageUrl"
                [alt]="member.name"
                loading="lazy"
                class="h-full w-full rounded-md object-cover"
              />
              <div
                class="absolute bottom-0 left-0 w-full rounded-b-xl bg-gray-900 bg-opacity-70 p-4"
              >
                <h4 class="my-2 text-2xl text-white">{{ member.name }}</h4>
                <p class="m-0 text-lg text-white">
                  {{ member.title }}
                </p>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </section>
  <app-scroll-to-top></app-scroll-to-top>
</main>
<app-footer></app-footer>
