<div class="card flex items-center justify-center">
  <p-galleria
    [value]="images"
    [autoPlay]="true"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
    [numVisible]="5"
    [containerStyle]="{ 'max-width': '1200px' }"
  >
    <ng-template pTemplate="item" let-item>
      <img [src]="item.path" style="width: 100%" />
    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
      <div class="grid justify-center gap-0">
        <img [src]="item.path" width="120" height="120" class="object-cover" />
      </div>
    </ng-template>
  </p-galleria>
</div>
