<app-top-bar></app-top-bar>
<app-nav-bar></app-nav-bar>
<main>
  <section id="landing_section" class="h-[40vh]">
    <div
      class="relative left-0 top-0 h-full w-full bg-cover bg-center bg-no-repeat"
      style="background-image: url(&quot;services/insurance.jpg&quot;)"
    >
      <div class="absolute inset-0 bg-black/50"></div>
      <div class="relative flex h-full w-full items-center justify-center">
        <h1 class="text-center text-4xl text-white md:text-5xl lg:text-6xl">
          Social Insurance
        </h1>
      </div>
    </div>
  </section>
  <section class="py-10">
    <div class="mx-auto max-w-screen-xl p-4">
      <h2
        class="my-0 mb-5 border-0 border-l-[10px] border-solid border-primary p-3 text-3xl font-bold"
      >
        Overview
      </h2>
      <div class="max-w-screen-lg">
        <p class="text-base md:pl-7 md:text-xl">
          Our Social Insurance Department is dedicated to managing all facets of
          social insurance applications and effectively resolving any associated
          problems or disputes. We specialize in two main categories of social
          insurance: typical and contracting. In disputes that may arise
          concerning the social insurance authority, our team vigorously
          advocates for our clients' interests.
        </p>
        <p class="text-base md:pl-7 md:text-xl">
          On behalf of our valued clients and with meticulous attention to
          detail and a deep understanding of the regulatory landscape, our team
          handles all aspects of social insurance applications and skillfully
          navigates any problems or disputes, whether related to typical or
          contracting social insurance.
        </p>
      </div>
    </div>
  </section>

</main>
<app-footer></app-footer>
