<app-top-bar></app-top-bar>
<app-nav-bar></app-nav-bar>
<main>
  <section id="landing_section" class="h-[40vh]">
    <div
      class="relative left-0 top-0 h-full w-full bg-cover bg-center bg-no-repeat"
      style="
        background-image: url(&quot;services/international_taxation.webp&quot;);
      "
    >
      <div class="absolute inset-0 bg-black/50"></div>
      <div class="relative flex h-full w-full items-center justify-center">
        <h1 class="text-center text-4xl text-white md:text-5xl lg:text-6xl">
          International Taxation
        </h1>
      </div>
    </div>
  </section>
  <section class="py-10">
    <div class="mx-auto max-w-screen-xl p-4">
      <h2
        class="my-0 mb-5 border-0 border-l-[10px] border-solid border-primary p-3 text-3xl font-bold"
      >
        Overview
      </h2>
      <div class="max-w-screen-lg">
        <p class="text-base md:pl-7 md:text-xl">
          Our International Taxation Department specializes in offering
          comprehensive International Tax Consultations in alignment with the
          double-tax treaties established between other counties.
        </p>
        <p class="text-base md:pl-7 md:text-xl">
          Our dedicated team in International Taxation includes members who are
          certified ADIT holders by the Chartered Institute of Taxation (CIOT).
        </p>

        <!-- 1. Transfer Pricing Studies: Preparing transfer pricing documentation for clients, including:

- Local File
- Master File
- Country-by-Country Report (CbCR)
2.Audit Support: Monitoring and managing tax audits with the Transfer Pricing Division of the Egyptian Tax Authority.

3.International Tax Treaties:

4.Ensuring the application of international agreements to prevent double taxation on behalf of clients.
Assisting with the refund of taxes already paid.
Tax Advisory Services: Providing consultations related to international double taxation treaties.

5.Transfer Pricing Consultation: Offering expert advice on matters concerning transfer pricing. -->
      </div>
    </div>
  </section>

</main>
<app-footer></app-footer>
