<!-- to be handled better  -->
<div
  class="mb-5 flex flex-col justify-between gap-6 bg-white px-6 py-4 md:flex-row"
>
  <div class="flex flex-grow flex-col justify-between">
    <p-skeleton>
      <h3 class="p-3 text-right text-2xl"></h3>
      <div class="h-auto w-full md:hidden">
        <p-skeleton class="h-auto w-full object-cover"></p-skeleton>
      </div>
      <p class="text-right text-xl text-grayTitle"></p>
    </p-skeleton>
    <p-skeleton class="mt-auto flex justify-start">
      <p-skeleton class="w-fit rounded-xl px-10 py-2"> </p-skeleton>
    </p-skeleton>
  </div>
  <p-skeleton class="hidden h-[280px] w-[300px] md:block">
    <p-skeleton class="h-[280px] w-[300px] object-cover"></p-skeleton>
  </p-skeleton>
</div>
