@if (products && responsiveOptions) {
  <div class="card">
    <p-carousel
      [value]="products"
      [numVisible]="3"
      [numScroll]="1"
      circular="false"
      [responsiveOptions]="responsiveOptions"
      autoplayInterval="2000"
    >
      <ng-template let-product pTemplate="item">
        <div
          class="m-5 flex flex-col items-center rounded-lg border-solid border-primary bg-white px-3 py-5 text-center shadow-lg"
        >
          <div class="h-20 w-20">
            <img
              [ngSrc]="product.imageUrl"
              [alt]="product.title"
              width="80"
              height="80"
            />
          </div>
          <h4 class="mb-4 h-24 text-2xl">{{ product.title }}</h4>
          <a
            [routerLink]="product.link"
            class="w-fit rounded-xl border border-solid border-black px-6 py-2 text-black no-underline"
            >Learn More</a
          >
        </div>
      </ng-template>
    </p-carousel>
  </div>
}
