<div class="relative h-[82vh] w-full overflow-hidden">
  <!-- Background Images -->
  <div class="relative h-full w-full">
    @for (image of images; track $index) {
      <div
        class="absolute h-full w-full bg-cover bg-center transition-transform duration-500 ease-in-out"
        [ngStyle]="{
          transform: 'translateX(' + 100 * ($index - currentIndex) + '%)',
          backgroundImage: 'url(' + image + ')',
        }"
      >
        <!-- add it here if u want to slide with images  -->
      </div>
    }
  </div>
  <div class="absolute inset-0 bg-black/50">
    <div class="container mx-auto flex h-full items-center justify-center px-4">
      <div
        class="flex max-w-2xl flex-col items-center justify-center text-[#ffffff]"
      >
        <h1 class="mb-2 text-4xl font-bold md:text-7xl">ATC</h1>
        <span class="mb-1 text-2xl md:text-4xl">Ashraf Abdel Ghani</span>
        <div class="mb-2 flex items-center gap-4">
          <span
            class="w-16 border-solid border-gray-200 md:w-24 md:border-4"
          ></span>
          <span class="text-2xl md:text-4xl">Group</span>
          <span
            class="w-16 border-solid border-gray-200 md:w-24 md:border-4"
          ></span>
        </div>
        <div
          class="mb-2 flex w-full items-center justify-around text-xl md:text-2xl"
        >
          <span>EGY</span>
          /
          <span>KSA</span>
          /
          <span>UAE</span>
        </div>
        <!-- <button
          (click)="scrollToSection()"
          class="cursor-pointer rounded-2xl border border-solid border-black bg-[#ffffff] px-3 py-2 opacity-65"
        >
          <span class="text-xl text-black">Learn More </span>
          <i class="fa-solid fa-arrow-right-long text-xl text-black"></i>
        </button> -->
      </div>
    </div>
  </div>

  <!-- Navigation Arrows -->
  <button
    (click)="prevSlide()"
    class="absolute left-1 top-1/2 -translate-y-1/2 transform cursor-pointer rounded-full border-0 bg-white/20 p-2 text-white transition-colors duration-300 hover:bg-black/50 md:left-4"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      class="h-6 w-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M15 19l-7-7 7-7"
      />
    </svg>
  </button>

  <button
    (click)="nextSlide()"
    class="absolute right-1 md:right-4 top-1/2 -translate-y-1/2 transform cursor-pointer rounded-full border-0 bg-white/20 p-2 text-white transition-colors duration-300 hover:bg-black/50"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      class="h-6 w-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M9 5l7 7-7 7"
      />
    </svg>
  </button>

  <!-- Slide Indicators -->
  <div
    class="absolute bottom-4 left-1/2 flex -translate-x-1/2 transform space-x-2"
  >
    @for (dot of images; track $index) {
      <button
        (click)="goToSlide($index)"
        class="rounded-full border-0 p-1 transition-colors duration-300"
        [ngClass]="
          currentIndex === $index ? 'bg-white' : 'bg-black/50 hover:bg-white/75'
        "
      ></button>
    }
  </div>
</div>
