<form
  (ngSubmit)="onAddNewPress(newPressForm)"
  #newPressForm="ngForm"
  class="my-10"
>
  <div class="mb-5">
    <label
      class="mb-2 block font-bold text-gray-700 after:text-red-500 after:content-['*']"
      for="title"
    >
      Title
    </label>
    <input
      type="text"
      id="title"
      class="w-full rounded-md border border-gray-300 bg-gray-50 px-3 py-2 text-lg shadow-sm"
      placeholder="Enter post title"
      required
      name="title"
      ngModel
      pInputText
      #title="ngModel"
      [(ngModel)]="titleInput"
      [ngClass]="{
        'text-right': isArabic(titleInput()),
        'text-left': !isArabic(titleInput()),
      }"
    />
  </div>

  <div class="mb-6">
    <label
      class="mb-2 block font-bold text-gray-700 after:text-red-500 after:content-['*']"
      for="image"
    >
      Upload New Press Image
    </label>
    <div class="relative">
      <input
        type="file"
        id="image"
        accept="image/*"
        required
        ngModel
        #image="ngModel"
        name="image"
        class="absolute inset-0 h-full w-full cursor-pointer opacity-0"
        (change)="onFileSelected($event)"
      />

      <div
        class="flex items-center rounded-md border border-gray-300 bg-[#F9FAFB] p-3 transition-colors hover:border-blue-500"
      >
        <span class="flex-1 truncate text-gray-700">
          <i class="pi pi-file-pdf mr-2 text-gray-600"></i>
          @if (filename()) {
            {{ filename() }}
          } @else {
            No file choosen
          }
        </span>
      </div>
    </div>
  </div>

  <div>
    <button
      pButton
      label="Add News Press"
      class="p-button-success"
      type="submit"
      [loading]="isLoading()"
      [style]="{
        width: '100%',
        outline: 'none',
        boxShadow: 'none',
        border: 'none',
      }"
      [disabled]="newPressForm.invalid"
    ></button>
  </div>
</form>

<section class="py-10">
  <div class="mx-auto max-w-screen-xl p-4">
    <h2
      class="border-0 border-l-[12px] border-solid border-primary p-4 text-4xl font-bold text-black"
    >
      In the Press
    </h2>
    <div
      class="grid grid-cols-1 gap-4 p-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
    >
      @for (image of pressImages; track $index) {
        <div class="flex flex-col items-center justify-center">
          <p-image
            [src]="image.imageUrl"
            [alt]="image.alt"
            [preview]="true"
            class="mx-auto object-cover"
            width="250"
            height="350"
          ></p-image>
          <p-button
            icon="pi pi-trash"
            type="button"
            class="mt-4"
            severity="danger"
            [loading]="isDeletingImage(image.id)"
            (onClick)="confirmDelete($event, image.id)"
          ></p-button>
        </div>
      }
    </div>

    <div class="flex items-center justify-center">
      <p-button
        label="Load More"
        [loading]="viewMoreLoading()"
        (onClick)="getNextPage()"
        type="button"
      >
      </p-button>
    </div>
  </div>
  <p-toast />

  <p-confirmDialog />
</section>
