<main style="min-height: calc(100vh - 112px)">
  <div style="min-height: calc(100vh - 112px)" class="rounded-lg bg-white p-8">
    <h1 class="mb-10 text-center">Send Happy New Year Emails</h1>
    <form (ngSubmit)="onSubmit()">
      <div class="card p-fluid mb-10">
        <p-chips
          [(ngModel)]="emails"
          (ngModelChange)="updateEmails($event)"
          name="emails"
        />
      </div>
      <div class="mb-5">
        <p-checkbox
          binary="true"
          label="Unlock Send Button"
          name="enableButton"
          [(ngModel)]="enableButton"
          (ngModelChange)="toggleEnableButton($event)"
        ></p-checkbox>
      </div>
      <button
        pButton
        label="Send"
        class="p-button-success"
        type="submit"
        [loading]="isLoading()"
        [disabled]="!enableButton()"
        [style]="{
          width: '100%',
          outline: 'none',
          boxShadow: 'none',
          border: 'none',
        }"
      ></button>
    </form>
  </div>
  <p-toast></p-toast>
</main>
