<app-top-bar></app-top-bar>
<app-nav-bar></app-nav-bar>
<main>
  <section id="landing_section" class="h-[40vh]">
    <div
      class="relative left-0 top-0 h-full w-full bg-cover bg-center bg-no-repeat"
      style="background-image: url(&quot;services/landing_image.jpeg&quot;)"
    >
      <div class="absolute inset-0 bg-black/50"></div>
      <div class="relative flex h-full w-full items-center justify-center">
        <h1 class="text-center text-4xl text-white md:text-5xl lg:text-6xl">
          Services
        </h1>
      </div>
    </div>
  </section>

  <section class="mb-10">
    <div class="mx-auto max-w-screen-xl p-4">
      <h2
        class="border-0 border-l-[12px] border-solid border-primary p-4 text-4xl font-bold"
      >
        We Do It
      </h2>
      <div class="flex flex-col gap-10 md:flex-row md:pl-7">
        <div class="w-full md:max-w-sm">
          <p class="m-0 text-3xl font-bold text-primary">
            Fast, Calucated and Sufficient
          </p>
        </div>
        <div class="text-xl text-grayTitle">
          ATC Group provides taxation, audit and assurance, accounting, and
          investment, and company incorporation advisory services We specialize
          in Tax consultation and services. <br />
          ATC is a member of the Geneva Group International (GGI) global
          network, linking independent accountancy firms, business consultants,
          and specialized legal advisors across the world.
        </div>
      </div>
    </div>
  </section>

  <section class="mx-auto max-w-screen-xl p-4">
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 md:pl-7 lg:grid-cols-3">
      @for (service of services; track $index) {
        <div
          class="flex flex-col justify-between border-0 border-l-2 border-solid border-black px-6 py-3"
        >
          <div>
            <div class="flex items-center gap-10">
              <div class="flex min-h-[132px] items-center gap-4">
                <img
                  src="{{ service.imageUrl }}"
                  width="100"
                  height="100"
                  alt="{{ service.title }}"
                  class="h-20 w-20 md:h-[100px] md:w-[100px]"
                />
                <h3 class="flex-1 text-center text-2xl font-bold md:text-2xl">
                  {{ service.title }}
                </h3>
              </div>
            </div>
            <div>
              <p class="mb-8 text-xl text-grayTitle">
                {{ service.description }}
              </p>
            </div>
          </div>
          <!-- Ensure the link stays at the bottom -->
          <div class="mt-auto flex items-center justify-center">
            <a
              [routerLink]="service.link"
              class="cursor-pointer rounded-lg bg-black px-10 py-3 text-white no-underline hover:bg-primary"
              >Know more</a
            >
          </div>
        </div>
      }
    </div>
  </section>
  <section class="py-10" id="hire_the_professionals">
    <div
      class="relative left-0 top-0 h-full w-full bg-cover bg-center bg-no-repeat py-14"
      style="
        background-image: url(&quot;services/hiring_professionals.jpeg&quot;);
      "
    >
      <div class="absolute inset-0 bg-black/50"></div>
      <div class="relative mx-auto h-full w-full max-w-screen-xl p-4">
        <div class="">
          <h3
            class="border-0 border-l-[12px] border-solid border-primary p-4 text-2xl font-bold text-white lg:text-4xl"
          >
            Hire the Professionals
          </h3>
        </div>
        <div class="">
          <p
            class="max-w-screen-md pb-8 text-xl text-white lg:pb-4 lg:text-left lg:text-2xl"
          >
            ATC provides integrated and innovative tax solutions. <br />
            Our tax services department is divided into specialized teams of tax
            experts, with each team specializing in a specific kind of tax.
          </p>
          <a
            routerLink="/contact-us"
            class="flex w-full items-center justify-center rounded-lg bg-primary px-6 py-3 text-lg text-white no-underline hover:bg-black lg:text-2xl"
            >Schedule a meeting</a
          >
        </div>
      </div>
    </div>
  </section>

  <section class="py-10">
    <div class="mx-auto max-w-screen-xl p-4">
      <h3
        class="border-0 border-l-[12px] border-solid border-primary p-4 text-3xl font-bold lg:text-4xl"
      >
        ATC Group Is Your Ideal Partner
      </h3>

      <div class="flex flex-col justify-evenly gap-20 md:flex-row">
        <div class="md:w-1/2">
          <img
            src="services/ideal_partner.jpeg"
            alt=""
            class="h-full w-full bg-cover"
          />
        </div>
        <div class="flex flex-col justify-around gap-10 md:w-1/2">
          <div class="flex justify-between gap-5">
            <div
              class="flex h-fit items-center justify-center bg-primary p-5 md:p-7"
            >
              <i
                class="fa-regular fa-circle-check mdtext-6xl text-4xl text-white"
              ></i>
            </div>
            <div>
              <h4 class="mb-4 mt-0 text-2xl font-bold md:text-3xl">
                Fits Business Requirments
              </h4>
              <p class="m-0 text-grayTitle md:text-lg">
                Our work ethic is founded on diligence and determination,
                ensuring that we deliver services to the highest standards,
                meeting the unique business requirements of our clients in our
                specialized areas.
              </p>
            </div>
          </div>
          <div class="flex justify-between gap-5">
            <div
              class="flex h-fit items-center justify-center bg-primary p-5 md:p-7"
            >
              <i
                class="fa-regular fa-circle-check mdtext-6xl text-4xl text-white"
              ></i>
            </div>
            <div>
              <h4 class="mb-4 mt-0 text-2xl font-bold md:text-3xl">
                Market Expertise
              </h4>
              <p class="m-0 text-grayTitle md:text-lg">
                With extensive market knowledge gained over years of operation
                in national and foreign markets, ATC Group holds a significant
                advantage, particularly in the field of taxation. We provide
                trusted and reliable consultations to add value and offer
                solutions for our clients.
              </p>
            </div>
          </div>
          <div class="flex justify-between gap-5">
            <div
              class="flex h-fit items-center justify-center bg-primary p-5 md:p-7"
            >
              <i
                class="fa-regular fa-circle-check mdtext-6xl text-4xl text-white"
              ></i>
            </div>
            <div>
              <h4 class="mb-4 mt-0 text-2xl font-bold md:text-3xl">
                Business Support
              </h4>
              <p class="m-0 text-grayTitle md:text-lg">
                We help your business overcome the diverse array of challenges
                you may face, by ATC Group is committed to helping your business
                navigate diverse challenges by providing expert consultations in
                taxation, accounting, auditing, and investment and company
                incorporation. We are your partner in success. you with
                consultations in the areas of tax, accounting, auditing and
                investment and company incorporation.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-scroll-to-top></app-scroll-to-top>
</main>
<app-footer></app-footer>
