<app-top-bar></app-top-bar>
<app-nav-bar></app-nav-bar>
<main>
  <section id="landing_section" class="h-[40vh]">
    <div
      class="relative left-0 top-0 h-full w-full bg-cover bg-center bg-no-repeat"
      style="background-image: url(&quot;services/landing_image.jpeg&quot;)"
    >
      <div class="absolute inset-0 bg-black/50"></div>
      <div class="relative flex h-full w-full items-center justify-center">
        <h1 class="text-center text-4xl text-white md:text-5xl lg:text-6xl">
          Services
        </h1>
      </div>
    </div>
  </section>
</main>
