<app-top-bar></app-top-bar>
<app-nav-bar></app-nav-bar>
<main>
  <app-landing-carousel></app-landing-carousel>
  <section class="my-10" id="about_the_company">
    <div class="mx-auto max-w-screen-xl p-4">
      <div class="flex flex-col gap-7 lg:flex-row">
        <div class="w-full lg:w-1/2">
          <h2
            class="border-0 border-l-[12px] border-solid border-primary p-4 text-4xl font-bold md:text-4xl"
          >
            About Our Company
          </h2>
          <p class="my-6 pl-7 text-3xl font-bold text-primary md:text-4xl">
            WHAT WE PROVIDE ..
          </p>
          <p class="pl-7 text-2xl">
            ATC Group provides Taxation, Audit, Accounting as well as Investment
            & Company Incorporation advisory services.
          </p>
          <div class="border border-solid border-gray-300 shadow-lg">
            <div class="flex flex-row gap-2 md:gap-5">
              <div class="flex items-center px-5 py-3 pr-0">
                <img
                  ngSrc="home/lightbulb.png"
                  width="100"
                  height="100"
                  alt="About the Company"
                  class="h-20 w-20"
                />
              </div>
              <span
                class="m-0 border-[1px] border-solid border-gray-300 p-0"
              ></span>
              <div class="flex items-center p-3 text-grayTitle md:text-xl">
                <div>
                  <p class="m-0 p-0">
                    A one-stop for all your financial services.
                  </p>
                  <p class="m-0 p-0">
                    We place your financial success at the forefront of
                    everything we do.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="relative left-0 top-0 h-[500px] w-full border-4 border-solid border-black bg-cover bg-center bg-no-repeat lg:h-auto lg:w-1/2"
          style="background-image: url(&quot;home/about_the_company.webp&quot;)"
        >
          <div
            class="absolute bottom-[10%] flex gap-5 bg-primary p-5 font-bold text-white sm:left-6 sm:right-20 md:p-3"
          >
            <div
              class="flex items-center justify-center text-center text-[22px] leading-7 md:leading-[50px] lg:text-4xl"
            >
              ATC Group
            </div>

            <span
              class="m-0 border-0 border-l-[1px] border-solid border-white p-0"
            ></span>
            <span
              class="flex items-center text-[20px] leading-7 md:leading-[50px] lg:text-[28px] 2xl:text-4xl"
            >
              Premier Financial Services
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-[#F9F7F7]" id="our_services">
    <div class="mx-auto my-10 max-w-screen-xl p-4">
      <h2
        class="border-0 border-l-[12px] border-solid border-primary p-4 text-4xl font-bold"
      >
        Our Services
      </h2>
      <div class="md:pl-7">
        <p class="my-6 text-3xl font-bold text-primary">
          Delivering Unrivaled Results
        </p>
        <div class="text-xl text-grayPar md:text-2xl">
          We combine our technical proficiency with extensive market insights
          and experience to deliver innovative solutions that empower our
          clients to thrive in the global marketplace.
        </div>
      </div>
      <app-services-slider></app-services-slider>
    </div>
  </section>

  <section class="my-10" id="why_choose_atc">
    <div class="mx-auto max-w-screen-xl p-4">
      <div class="flex items-center justify-between">
        <h2
          class="border-0 border-l-[12px] border-solid border-primary p-4 text-4xl font-bold"
        >
          Why Choose Us
        </h2>
        <a
          class="hidden rounded-xl bg-black px-5 py-2 text-center text-xl text-white no-underline hover:bg-primary md:block"
          routerLink="about-us"
          >Learn More</a
        >
      </div>
      <div class="pl-7">
        <p class="mb-8 mt-6 text-3xl font-bold text-primary">
          Your Business Thrives With ATC
        </p>
        <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
          <div
            class="hvr-sweep-to-right border-0 border-l-2 border-solid border-black px-6 py-3 hover:border-primary"
          >
            <div class="flex min-h-[132px] items-center gap-4">
              <img
                ngSrc="home/personalized_solutions.png"
                width="100"
                height="100"
                alt="personalized_solutions"
                class="h-20 w-20 md:h-[100px] md:w-[100px]"
              />
              <h3 class="flex-1 text-center text-2xl font-bold md:text-3xl">
                Personalized Solutions
              </h3>
            </div>
            <div>
              <p class="text-base md:text-lg">
                We understand that every business and individual has unique
                financial needs and goals. Our tax consultants specialize in
                crafting personalized solutions to simplify complex tax
                processes, ensuring compliance tax laws. Our team combines
                in-depth expertise with a tailored approach to meet your
                specific requirements.
              </p>
            </div>
          </div>
          <div
            class="hvr-sweep-to-right border-0 border-l-2 border-solid border-black px-6 py-3 hover:border-primary"
          >
            <div class="flex min-h-[132px] items-center gap-4">
              <img
                ngSrc="home/expertize.png"
                width="100"
                height="100"
                alt="expertize"
                class="h-20 w-20 md:h-[100px] md:w-[100px]"
              />
              <h3 class="flex-1 text-center text-2xl font-bold md:text-3xl">
                Expertise
              </h3>
            </div>
            <div>
              <p class="text-base md:text-lg">
                With decades of experience across diverse business sectors, ATC
                Group's tax consultants bring unparalleled expertise to the
                table. Our team stays ahead of ever-changing tax laws and
                regulations, ensuring our clients benefit from the most
                up-to-date and effective strategies.
              </p>
            </div>
          </div>
          <div
            class="hvr-sweep-to-right border-0 border-l-2 border-solid border-black px-6 py-3 hover:border-primary"
          >
            <div class="flex min-h-[132px] items-center gap-4">
              <img
                ngSrc="home/reliable_support.png"
                width="100"
                height="100"
                alt="reliable_support"
                class="h-20 w-20 md:h-[100px] md:w-[100px]"
              />
              <h3 class="flex-1 text-center text-2xl font-bold md:text-3xl">
                Reliable Support
              </h3>
            </div>
            <div>
              <p class="text-base md:text-lg">
                Our dedicated tax consultants provide consistent, dependable
                support, helping you navigate the complexities of tax laws with
                confidence. Whether it's meeting tight deadlines, addressing
                unexpected challenges, or providing ongoing guidance, we're here
                to ensure your tax obligations are managed seamlessly.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section
    class="mt-10 bg-[#3C3D418C] bg-cover bg-center bg-no-repeat opacity-90"
    id="atc_stats"
    style="background-image: url(&quot;home/egypt.webp&quot;)"
  >
    <div class="mx-auto max-w-screen-2xl p-4 text-white">
      <div
        class="grid grid-cols-1 place-items-center gap-5 sm:grid-cols-2 md:gap-10 lg:gap-16 xl:grid-cols-4"
      >
        <div class="w-[300px] rounded-lg bg-black/70 p-4">
          <div class="flex items-center gap-5">
            <img ngSrc="home/people.png" alt="clients" width="80" height="80" />

            <span
              class="text-5xl text-primary"
              [countUp]="clients"
              [options]="{
                duration: 3,
                enableScrollSpy: true,
                suffix: '+',
                startVal: 0,
                scrollSpyOnce: true,
              }"
            ></span>
          </div>
          <p class="my-2 text-3xl text-white">Clients</p>
        </div>
        <div class="w-[300px] rounded-lg bg-black/70 p-4">
          <div class="flex items-center gap-5">
            <img
              ngSrc="home/experience.png"
              alt="Experience"
              width="80"
              height="80"
            />

            <span
              class="text-6xl text-primary"
              [countUp]="yearsOfExperience"
              [options]="{
                duration: 3,
                enableScrollSpy: true,
                suffix: '+',
                startVal: 0,
                scrollSpyOnce: true,
              }"
            ></span>
          </div>
          <p class="my-2 text-3xl">Years of Experience</p>
        </div>
        <div class="w-[300px] rounded-lg bg-black/70 p-4">
          <div class="flex items-center gap-5">
            <img
              ngSrc="home/industries.png"
              alt="industries"
              width="80"
              height="80"
            />

            <span
              class="text-6xl text-primary"
              [countUp]="industries"
              [options]="{
                duration: 3,
                enableScrollSpy: true,
                suffix: '+',
                startVal: 0,
                scrollSpyOnce: true,
              }"
            ></span>
          </div>
          <p class="my-2 text-3xl">Industries Covered</p>
        </div>
        <div class="w-[300px] rounded-lg bg-black/70 p-4">
          <div class="flex items-center gap-5">
            <img
              ngSrc="home/branches.png"
              alt="branches"
              width="80"
              height="80"
            />

            <span
              class="text-6xl text-primary"
              [countUp]="branches"
              [options]="{
                enableScrollSpy: true,
                suffix: '+',
                startVal: 0,
                scrollSpyOnce: true,
              }"
            ></span>
          </div>
          <p class="my-2 text-3xl">Branches</p>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-[#F9F7F7] py-10" id="insights">
    <div class="mx-auto max-w-screen-xl p-4">
      <h2
        class="border-0 border-l-[12px] border-solid border-primary p-4 text-4xl font-bold"
      >
        Insights
      </h2>
      <div
        class="mx-auto mb-5 max-w-screen-lg text-center text-xl text-grayPar md:text-xl"
      >
        Stay updated with in-depth articles and expert insights on tax
        regulations, financial strategies, auditing practices, and the latest
        industry trends. Explore ATC Group's achievements and milestones as we
        shape the future of accounting, taxation, and the evolving tax market.
      </div>
      @if (loading) {
        @for (i of [1, 2, 3, 4]; track $index) {
          <app-loading-card></app-loading-card>
        }
      } @else {
        @for (post of posts; track $index) {
          <div
            class="mb-5 flex flex-col justify-between gap-6 bg-white px-6 py-4 md:flex-row"
          >
            <div class="flex flex-grow flex-col justify-between">
              <div>
                <h3
                  class="md::text-2xl border-0 border-solid border-primary p-3 text-xl ltr:border-l-[8px] rtl:border-r-[8px]"
                  [dir]="getDirection(post.title)"
                >
                  {{ post.title }}
                </h3>
                <div class="h-auto w-full md:hidden">
                  <img
                    [src]="post.images[0].path"
                    [alt]="post.title"
                    class="h-auto w-full rounded-lg object-cover"
                  />
                </div>
                <div
                  [innerHTML]="postss[$index].text"
                  [style.direction]="postss[$index].direction"
                  class="my-4 md:text-lg lg:my-0"
                ></div>
              </div>
              <div class="mt-auto flex justify-start">
                <a
                  class="w-fit rounded-xl bg-primary px-10 py-2 text-center text-white no-underline hover:bg-black md:text-xl"
                  routerLink="insights/{{ post.slug }}"
                >
                  Read More
                </a>
              </div>
            </div>
            <div class="hidden h-[300px] w-[350px] md:block">
              <img
                [src]="post.images[0].path"
                [alt]="post.title"
                class="h-[300px] w-[350px] rounded-[4px] object-cover"
              />
            </div>
          </div>
        }
      }
      <div class="mt-10 flex items-center justify-center">
        <a
          routerLink="insights"
          class="w-fit rounded-lg bg-black px-6 py-2 text-center text-xl text-white no-underline hover:bg-primary"
        >
          Discover More
        </a>
      </div>
    </div>
  </section>

  <section class="my-10" id="our_founder">
    <div class="mx-auto max-w-screen-xl p-4">
      <h2
        class="border-0 border-l-[12px] border-solid border-primary p-4 text-4xl font-bold"
      >
        Our Founder
      </h2>
      <p class="max-w-screen-lg pl-7 text-2xl text-black">
        <span class="text-3xl font-bold text-primary">
          Ashraf Abdel Ghani
        </span>
        , with over 30 years of expertise in the Tax services and Auditing
        field, serves as the visionary leader steering our organization to
        unparalleled success.
      </p>
      <div class="flex flex-col gap-16 md:flex-row">
        <div class="border-2 border-solid border-primary md:w-2/5">
          <img
            src="home/ashraf.webp"
            alt="Mr. Ashraf Abdel Ghani"
            class="m-0 !h-[100%] !w-[100%] object-cover p-0"
          />
        </div>
        <div class="flex-1">
          <h3
            class="my-2 border-0 border-l-[12px] border-solid border-primary px-6 py-3 text-4xl font-bold"
          >
            Ashraf Abdel Ghani
          </h3>
          <p class="m-0 text-grayTitle md:pl-7">
            Chairman and Managing Director, Member of the Board of Directors &
            the founder of the Egyptian Association of Tax Experts.
          </p>
          <p class="text-3xl">
            Ashraf Abdel Ghani's commitment to excellence and innovation has
            elevated the company to the forefront of the industry, making ATC
            the top tax firm in Egypt, with an expanding presence in the Middle
            East. His leadership inspires the team, driving our shared vision
            and ensuring continued prosperity.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
