<app-top-bar></app-top-bar>
<app-nav-bar></app-nav-bar>
<main>
  <section id="landing_section" class="h-[60vh]">
    <div
      class="relative left-0 top-0 h-full w-full bg-cover bg-center bg-no-repeat"
      style="background-image: url(&quot;contact-us/landing_image.jpeg&quot;)"
    >
      <div class="absolute inset-0 bg-black/50"></div>
      <div class="relative flex h-full w-full items-center justify-center">
        <h1 class="text-center text-4xl text-white md:text-5xl lg:text-6xl">
          Contact us
        </h1>
      </div>
    </div>
  </section>

  <section class="mt-10">
    <div class="mx-auto max-w-screen-xl p-4">
      <h2
        class="my-0 mb-5 border-0 border-l-[10px] border-solid border-primary p-3 text-2xl font-bold lg:text-3xl"
      >
        CONNECT WITH OUR EXPERTS
      </h2>
      <p class="text-base text-grayTitle md:pl-7 md:text-xl">
        Send Us your Inquiry now, and we will reply to you within 48 hours,
        <br />
        <span>
          or email us at
          <a
            href="mailto:contactus@atc.com.eg"
            class="text-grayTitle hover:text-primary"
          >
            contactus&#64;atc.com.eg
          </a></span
        >
      </p>
    </div>
  </section>

  <section class="mb-10">
    <div class="mx-auto flex max-w-screen-xl flex-col gap-6 p-4 md:flex-row">
      <div class="flex md:w-1/2">
        <img
          src="contact-us/request_proposal.jpg"
          alt=""
          class="h-full w-full object-cover"
        />
      </div>
      <form
        class="p-6 md:w-1/2"
        #contactForm="ngForm"
        (ngSubmit)="onSubmit(contactForm)"
      >
        <div class="grid grid-cols-1 md:grid-cols-2 md:gap-6">
          <div class="mb-5">
            <label for="name" class="mb-2 block font-medium text-gray-900"
              >Name</label
            >
            <input
              type="text"
              id="name"
              class="block w-full rounded-lg border bg-gray-50 p-2.5 text-gray-900"
              name="name"
              autocomplete="name"
              ngModel
              required
              pInputText
              #name="ngModel"
              [ngClass]="{
                'border-gray-300': !name.invalid || !name.touched,
                'border-red-500': name.invalid && name.touched,
              }"
            />
          </div>
          <div class="mb-5">
            <label for="position" class="mb-2 block font-medium text-gray-900"
              >Position</label
            >
            <input
              type="text"
              id="position"
              class="block w-full rounded-lg border bg-gray-50 p-2.5 text-gray-900"
              name="position"
              ngModel
              required
              pInputText
              #position="ngModel"
              [ngClass]="{
                'border-gray-300': !position.invalid || !position.touched,
                'border-red-500': position.invalid && position.touched,
              }"
            />
          </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 md:gap-6">
          <div class="mb-5">
            <label
              for="company_name"
              class="mb-2 block font-medium text-gray-900"
              >Company name</label
            >
            <input
              type="text"
              id="company_name"
              class="block w-full rounded-lg border bg-gray-50 p-2.5 text-gray-900"
              name="company_name"
              ngModel
              pInputText
              required
              #company_name="ngModel"
              [ngClass]="{
                'border-gray-300':
                  !company_name.invalid || !company_name.touched,
                'border-red-500': company_name.invalid && company_name.touched,
              }"
            />
          </div>
          <div class="mb-5">
            <label for="email" class="mb-2 block font-medium">Email</label>
            <input
              type="email"
              id="email"
              class="block w-full rounded-lg border bg-gray-50 p-2.5 text-gray-900"
              autocomplete="email"
              name="email"
              ngModel
              required
              pInputText
              email
              #email="ngModel"
              [ngClass]="{
                'border-gray-300': !email.invalid || !email.touched,
                'border-red-500': email.invalid && email.touched,
              }"
            />
          </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 md:gap-6">
          <div class="mb-5">
            <label
              for="phone_number"
              class="mb-2 block font-medium text-gray-900"
              >Phone Number</label
            >
            <input
              type="tel"
              id="phone_number"
              class="block w-full rounded-lg border bg-gray-50 p-2.5 text-gray-900"
              name="phone_number"
              ngModel
              required
              pInputText
              #phone_number="ngModel"
              [ngClass]="{
                'border-gray-300':
                  !phone_number.invalid || !phone_number.touched,
                'border-red-500': phone_number.invalid && phone_number.touched,
              }"
            />
          </div>
          <div class="mb-5">
            <label for="reasonForContact" class="mb-2 block font-medium"
              >Reason for Contact</label
            >
            <p-dropdown
              [options]="reasonOptions"
              [(ngModel)]="selectedReason"
              optionLabel="label"
              optionValue="value"
              placeholder="Select Reason"
              required
              name="reasonForContact"
              [style]="{
                backgroundColor: '#F9FAFB',
                width: '100%',
                outline: 'none',
                boxShadow: 'none',
              }"
              #reasonForContact="ngModel"
              [ngClass]="{
                'p-invalid':
                  reasonForContact.invalid && reasonForContact.touched,
                'border-gray-300':
                  !reasonForContact.invalid || !reasonForContact.touched,
                'border-red-500':
                  reasonForContact.invalid && reasonForContact.touched,
              }"
            ></p-dropdown>
          </div>
        </div>
        <div class="mb-5">
          <label for="details" class="mb-2 block font-medium text-gray-900"
            >Details
          </label>
          <textarea
            id="details"
            rows="4"
            class="block w-full rounded-lg border bg-gray-50 p-2.5 text-gray-900"
            name="details"
            ngModel
            required
            pInputTextarea
            rows="10"
            #details="ngModel"
            [ngClass]="{
              'border-gray-300': !details.invalid || !details.touched,
              'border-red-500': details.invalid && details.touched,
            }"
          ></textarea>
        </div>

        <p-button
          label="Submit"
          class="outline-none focus:border-none focus:outline-none"
          [loading]="loading"
          [disabled]="contactForm.invalid"
          [style]="{
            width: '100%',
            backgroundColor: '#EB1F2F',
            outline: 'none',
            boxShadow: 'none',
            border: 'none',
          }"
          type="submit"
        />
        @if (message) {
          <div class="mt-4 text-center text-xl font-bold">
            {{ message }}
          </div>
        }
      </form>
    </div>
  </section>

</main>
<app-footer></app-footer>
