<app-top-bar></app-top-bar>
<app-nav-bar></app-nav-bar>
<main>
  <section id="landing_section" class="h-[40vh]">
    <div
      class="relative left-0 top-0 h-full w-full bg-cover bg-center bg-no-repeat"
      style="background-image: url(&quot;careers/landing_image3.jpeg&quot;)"
    >
      <div class="absolute inset-0 bg-black/50"></div>
      <div class="relative flex h-full w-full items-center justify-center">
        <h1 class="text-center text-4xl text-white md:text-5xl lg:text-6xl">
          Careers
        </h1>
      </div>
    </div>
  </section>
  <section class="py-10" id="join_our_team">
    <div class="mx-auto max-w-screen-xl p-4">
      <div
        class="flex flex-col gap-10 lg:flex-row lg:justify-between lg:gap-20"
      >
        <div class="flex h-full w-full flex-col gap-10 lg:w-1/2">
          <div>
            <h2
              class="mt-0 border-0 border-l-[12px] border-solid border-primary p-4 text-4xl font-bold"
            >
              Join Our Team
            </h2>

            <div class="block h-[35vh] lg:hidden">
              <div
                class="relative left-0 top-0 h-full w-full bg-cover bg-center bg-no-repeat"
                style="
                  background-image: url(&quot;careers/join_our_team.jpeg&quot;);
                "
              >
                <div
                  class="absolute bottom-8 left-6 bg-primary px-8 py-4 text-xl font-bold text-white"
                >
                  ATC Group
                </div>
              </div>
            </div>

            <p class="text-xl text-grayTitle lg:pl-7">
              At ATC Group Middle East, we believe that our people are our
              greatest asset. <br />
              We are always on the lookout for talented, dedicated, and
              passionate individuals to join our team. If you are looking for a
              challenging and rewarding career in the fields of Taxation,
              Auditing, Accounting, or Financial Consulting, you've come to the
              right place.
            </p>
          </div>

          <div
            class="mb-4 mt-auto flex items-center justify-center lg:block lg:pl-7"
          >
            <a
              href="https://jobs.atc.com.eg/"
              target="_blank"
              class="rounded-lg bg-black px-20 py-3 text-xl font-bold text-white no-underline hover:bg-primary"
              >Apply Now</a
            >
          </div>
        </div>

        <div class="hidden lg:block lg:w-1/2">
          <div
            class="relative left-0 top-0 h-full w-full bg-cover bg-center bg-no-repeat"
            style="
              background-image: url(&quot;careers/join_our_team.jpeg&quot;);
            "
          >
            <div
              class="absolute bottom-10 left-8 bg-primary px-20 py-5 text-3xl font-bold text-white"
            >
              ATC Group
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-[#F9F7F7] py-10" id="why_work_with_us">
    <div class="mx-auto max-w-screen-xl p-4">
      <h2
        class="mt-0 border-0 border-l-[12px] border-solid border-primary p-4 text-4xl font-bold"
      >
        Why Work With Us
      </h2>
      <div
        class="hvr-sweep-to-right mb-5 flex flex-col gap-10 rounded-r-lg border-0 border-l-2 border-solid border-black bg-white px-6 py-3 hover:border-primary lg:flex-row lg:gap-20 lg:px-10 lg:py-5"
      >
        <img
          src="careers/work_with_us.jpeg"
          alt=""
          class="h-auto w-full rounded-lg lg:w-[300px]"
        />

        <div>
          <h4 class="mb-4 mt-0 text-2xl text-primary md:mb-8 md:text-3xl">
            Professional Growth
          </h4>
          <p class="text-base text-grayTitle md:text-xl">
            We are committed to the continuous development of our employees.
            Through regular training programs, workshops, and mentorship, we
            ensure that our team members are well-equipped with the latest
            knowledge and skills in the industry.
          </p>
        </div>
      </div>
      <div
        class="hvr-sweep-to-right mb-5 flex flex-col gap-10 rounded-r-lg border-0 border-l-2 border-solid border-black bg-white px-6 py-3 hover:border-primary lg:flex-row lg:gap-20 lg:px-10 lg:py-5"
      >
        <img
          src="careers/work_with_us.jpeg"
          alt=""
          class="h-auto w-full rounded-lg lg:w-[300px]"
        />

        <div>
          <h4 class="mb-4 mt-0 text-2xl text-primary md:mb-8 md:text-3xl">
            Dynamic Work Environment
          </h4>
          <p class="text-base text-grayTitle md:text-xl">
            Our work culture is vibrant and inclusive, encouraging innovation,
            collaboration, and creativity. We value the diverse perspectives and
            experiences that each team member brings to the table.
          </p>
        </div>
      </div>
      <div
        class="hvr-sweep-to-right mb-5 flex flex-col gap-10 rounded-r-lg border-0 border-l-2 border-solid border-black bg-white px-6 py-3 hover:border-primary lg:flex-row lg:gap-20 lg:px-10 lg:py-5"
      >
        <img
          src="careers/work_with_us.jpeg"
          alt=""
          class="h-auto w-full rounded-lg lg:w-[300px]"
        />

        <div>
          <h4 class="mb-4 mt-0 text-2xl text-primary md:mb-8 md:text-3xl">
            Work-Life Balance
          </h4>
          <p class="text-base text-grayTitle md:text-xl">
            We understand the importance of maintaining a healthy work-life
            balance. Our flexible work policies and supportive environment help
            our employees achieve both professional success and personal
            well-being.
          </p>
        </div>
      </div>
      <div
        class="hvr-sweep-to-right mb-5 flex flex-col gap-10 rounded-r-lg border-0 border-l-2 border-solid border-black bg-white px-6 py-3 hover:border-primary lg:flex-row lg:gap-20 lg:px-10 lg:py-5"
      >
        <img
          src="careers/work_with_us.jpeg"
          alt=""
          class="h-auto w-full rounded-lg lg:w-[300px]"
        />

        <div>
          <h4 class="mb-4 mt-0 text-2xl text-primary md:mb-8 md:text-3xl">
            Global Opportunities
          </h4>
          <p class="text-base text-grayTitle md:text-xl">
            As part of a global network, we offer opportunities to work on
            international projects and collaborate with professionals from
            around the world. This exposure enhances your career and broadens
            your horizons.
          </p>
        </div>
      </div>
      <div
        class="hvr-sweep-to-right mb-5 flex flex-col gap-10 rounded-r-lg border-0 border-l-2 border-solid border-black bg-white px-6 py-3 hover:border-primary lg:flex-row lg:gap-20 lg:px-10 lg:py-5"
      >
        <img
          src="careers/work_with_us.jpeg"
          alt=""
          class="h-auto w-full rounded-lg lg:w-[300px]"
        />

        <div>
          <h4 class="mb-4 mt-0 text-2xl text-primary md:mb-8 md:text-3xl">
            Recognition and Rewards
          </h4>
          <p class="text-base text-grayTitle md:text-xl">
            We believe in recognizing and rewarding excellence. Our
            performance-based incentives and appreciation programs ensure that
            hard work and dedication do not go unnoticed.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-primary py-16" id="how_to_apply">
    <div class="mx-auto max-w-screen-xl p-4">
      <div class="flex flex-col gap-10 md:flex-row md:pl-7">
        <div class="w-full md:max-w-xs">
          <h3
            class="m-0 border-0 border-l-[12px] border-solid border-white pl-4 text-3xl font-bold text-white md:text-4xl"
          >
            HOW TO APPLY .. ?
          </h3>
        </div>
        <div class="text-white">
          <p class="mb-8 mt-0 text-xl md:mb-5 md:text-3xl">
            To apply for any opening positions, please fill in the below form or
            send us your resume on careers&#64;atc.com.eg. We will review your
            application and get back to you if your profile matches our
            requirements.
          </p>
          <div class="flex items-center justify-center">
            <a
              href="https://jobs.atc.com.eg/"
              target="_blank"
              class="rounded-lg bg-white px-20 py-3 text-2xl font-bold text-black no-underline hover:bg-black hover:text-white md:px-40"
              >Apply Now</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-10" id="internship_opportunities">
    <div class="mx-auto max-w-screen-xl p-4">
      <div
        class="flex flex-col gap-10 lg:flex-row lg:justify-between lg:gap-20"
      >
        <div class="hidden lg:block lg:w-1/2">
          <div
            class="relative left-0 top-0 h-full w-full bg-cover bg-center bg-no-repeat"
            style="
              background-image: url(&quot;careers/join_our_team.jpeg&quot;);
            "
          >
            <div
              class="absolute bottom-10 left-8 bg-primary px-20 py-5 text-3xl font-bold text-white"
            >
              ATC Group
            </div>
          </div>
        </div>
        <div class="flex h-full w-full flex-col gap-10 lg:w-1/2">
          <div>
            <h2
              class="mt-0 border-0 border-l-[12px] border-solid border-primary p-4 text-4xl font-bold"
            >
              Internship Opportunities
            </h2>

            <div class="block h-[35vh] lg:hidden">
              <div
                class="relative left-0 top-0 h-full w-full bg-cover bg-center bg-no-repeat"
                style="
                  background-image: url(&quot;careers/join_our_team.jpeg&quot;);
                "
              >
                <div
                  class="absolute bottom-8 left-6 bg-primary px-8 py-4 text-xl font-bold text-white"
                >
                  ATC Group
                </div>
              </div>
            </div>

            <p class="text-xl text-grayTitle lg:pl-7">
              We offer internships to students and recent graduates who are
              looking to gain practical experience in the fields of Taxation,
              Auditing, Accounting, and Financial Consulting. Our internship
              program provides hands-on training and the opportunity to work on
              real projects, preparing you for a successful career in the
              industry.
            </p>
          </div>

          <div
            class="mb-4 mt-auto flex items-center justify-center lg:block lg:pl-7"
          >
            <a
              href="https://jobs.atc.com.eg/"
              target="_blank"
              class="rounded-lg bg-black px-20 py-3 text-xl font-bold text-white no-underline hover:bg-primary"
              >Apply Now</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-[#F9F7F7] py-10">
    <div class="mx-auto max-w-screen-xl p-4">
      <div class="flex items-center justify-center">
        <h2
          class="mt-0 border-0 border-l-[10px] border-solid border-black p-2 pl-4 text-center text-4xl font-bold text-primary"
        >
          Life at ATC Group Middle East
        </h2>
      </div>

      <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
        <div
          class="hvr-sweep-to-right border-0 border-l-2 border-solid border-black bg-white px-6 py-3 hover:border-primary"
        >
          <div class="flex items-center gap-4 md:min-h-28">
            <h3 class="mt-0 flex-1 text-2xl font-bold text-primary md:text-3xl">
              Our Culture
            </h3>
          </div>
          <div>
            <p class="text-base md:text-xl">
              At ATC Group Middle East, we foster a culture of respect,
              integrity, and excellence. We believe that a positive work
              environment is key to achieving success, both individually and
              collectively.
            </p>
          </div>
        </div>
        <div
          class="hvr-sweep-to-right border-0 border-l-2 border-solid border-black bg-white px-6 py-3 hover:border-primary"
        >
          <div class="flex items-center gap-4 md:min-h-28">
            <h3 class="mt-0 flex-1 text-2xl font-bold text-primary md:text-3xl">
              Team Building Activities
            </h3>
          </div>
          <div>
            <p class="text-base md:text-xl">
              We organize regular team-building activities, social events, and
              wellness programs to strengthen team bonds and ensure a healthy,
              motivated workforce.
            </p>
          </div>
        </div>
        <div
          class="hvr-sweep-to-right border-0 border-l-2 border-solid border-black bg-white px-6 py-3 hover:border-primary"
        >
          <div class="flex items-center gap-4 md:min-h-28">
            <h3 class="mt-0 flex-1 text-2xl font-bold text-primary md:text-3xl">
              Employee Benefits
            </h3>
          </div>
          <div>
            <p class="text-base md:text-xl">
              Our comprehensive benefits package includes health insurance,
              retirement plans, paid time off, and professional development
              opportunities, ensuring that our employees are well taken care of.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-10">
    <div class="mx-auto max-w-screen-xl p-4">
      <h2
        class="mt-0 border-0 border-l-[12px] border-solid border-primary p-4 text-4xl font-bold"
      >
        What People Say
      </h2>
      <div class="max-w-[550px] pl-7 text-2xl text-grayTitle">
        Hear from our employees about their experiences working at ATC Group
        Middle East:
      </div>
      <div class="card my-10">
        <p-carousel
          [value]="employees"
          [numVisible]="2"
          [numScroll]="1"
          circular="true"
          [responsiveOptions]="responsiveOptions"
          ngSkipHydration
        >
          <ng-template let-employee pTemplate="employee">
            <div
              class="mx-4 flex min-h-[450px] flex-col rounded-lg bg-[#F9F7F7] p-5 md:mx-10 md:min-h-[370px] md:p-10"
            >
              <div class="mb-2 flex flex-col gap-3 md:flex-row">
                <img
                  [src]="employee.imageUrl"
                  [alt]="employee.name"
                  class="h-24 w-24 rounded-full object-cover"
                />
                <div>
                  <h4
                    class="mb-4 mt-0 text-lg font-bold text-primary md:text-2xl"
                  >
                    {{ employee.name }}
                  </h4>
                  <span class="text-sm text-grayTitle md:text-lg">{{
                    employee.title
                  }}</span>
                </div>
              </div>
              <p class="flex-grow text-sm md:text-lg">
                {{ employee.message }}
              </p>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </section>
  <app-scroll-to-top></app-scroll-to-top>
</main>
<app-footer></app-footer>
