/* Use Tailwind classes where possible */
button.accordion {
  transition: background-color 0.3s ease;
}

div.panel {
  transition: max-height 0.3s ease-out;
}

.underline-effect {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.underline-effect::after {
  content: "";
  position: absolute;
  bottom: -4px; /* Adjust distance from the text */
  left: 0;
  height: 4px; /* Thickness of the underline */
  width: 0;
  background-color: transparent;
  transition:
    width 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.underline-effect:hover::after {
  width: 100%;
  background-color: #eb1f2f; /* Underline color */
}

label:after {
  content: " *";
  color: red;
}
