<app-top-bar></app-top-bar>
<app-nav-bar></app-nav-bar>
<main>
  <section id="landing_section" class="h-[40vh]">
    <div
      class="relative left-0 top-0 h-full w-full bg-cover bg-center bg-no-repeat"
      style="
        background-image: url(&quot;services/accounting_advisory.webp&quot;);
      "
    >
      <div class="absolute inset-0 bg-black/50"></div>
      <div class="relative flex h-full w-full items-center justify-center">
        <h1 class="text-center text-4xl text-white md:text-5xl lg:text-6xl">
          Accounting Advisory
        </h1>
      </div>
    </div>
  </section>
  <section class="py-10">
    <div class="mx-auto max-w-screen-xl p-4">
      <h2
        class="my-0 mb-5 border-0 border-l-[10px] border-solid border-primary p-3 text-3xl font-bold"
      >
        Explore Our Accounting Advisory Services
      </h2>
      <div class="space-y-6">
        <div>
          <h3 class="text-secondary text-lg font-semibold">
            1. Accounting Transaction Registration Services
          </h3>
          <p class="text-grayTitle">
            Recording financial transactions and events in compliance with the
            Egyptian Accounting Standards, furthermore, we provide tailored
            reports to meet the diverse needs of companies and institutions
            management.
          </p>
        </div>
        <div>
          <h3 class="text-secondary text-lg font-semibold">
            2. Temporary Secondment Services
          </h3>
          <p class="text-grayTitle">
            Seconding qualified financial accountants to the companies and
            institutions financial departments to work full-time under their
            supervision
          </p>
        </div>
        <div>
          <h3 class="text-secondary text-lg font-semibold">
            3. Registration in Statutory Books
          </h3>
          <p class="text-grayTitle">
            Handling the manual recording in statutory books (general journal
            and inventory books) for companies and institutions, adhering to the
            approved financial statements classifications and Egyptian tax law
            requirements.
          </p>
        </div>
        <div>
          <h3 class="text-secondary text-lg font-semibold">
            4. Accounting Supervision Services
          </h3>
          <p class="text-grayTitle">
            Supervising the financial department staff by our experts, offering
            requalification programs, and conducting performance appraisals to
            enhance team efficiency.
          </p>
        </div>
        <div>
          <h3 class="text-secondary text-lg font-semibold">
            5. Accounting Advisory Services
          </h3>
          <p class="text-grayTitle">
            Providing comprehensive accounting and financial advice, including
            actionable recommendations to improve all accounting-related areas
            within your company or institution.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
