/* You can add global styles to this file, and also import other style files */

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}
@layer primeng;
@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

body {
  margin: 0;
  padding: 0;
}

/* custom scroll bar  */
/* ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #dddddd;
}

::-webkit-scrollbar-thumb {
  background: #eb1f2f;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(152, 11, 11);
} */

.no-scroll {
  overflow: hidden;
  height: 100vh; /* Prevent vertical scrolling */
}
