<app-nav></app-nav>
<main class="h-full min-h-[870px] flex-1 bg-gray-100 p-6">
  <section class="md:p-5 lg:ml-52">
    <div class="min-h-[83vh] rounded-lg bg-white p-8 shadow-lg">
      <!-- @if (loading) {
        <div class="mx-auto">
          <app-loading></app-loading>
        </div>
      }
      @if (!loading) { -->
      <div class="card">
        <p-table
          [value]="articles"
          [lazy]="true"
          [paginator]="true"
          [rows]="postsPerPage"
          [loading]="loading"
          [first]="0"
          [totalRecords]="totalArticles"
          [showCurrentPageReport]="true"
          (onLazyLoad)="onPageChange($event)"
          [loading]="loading"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} articles"
        >
          <ng-template pTemplate="caption">
            <div>
              <h2 class="text-center">ATC Group Articles</h2>
            </div>
          </ng-template>

          <ng-template pTemplate="header">
            <tr>
              <th style="width: 2rem">#</th>
              <th style="width: 30%">Title</th>
              <th style="width: 40%">Description</th>
              <th style="width: 13%">video url</th>
              <th style="width: 10%">Created in</th>
              <th class="text-center">Edit</th>
              <th class="text-center">Delete</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-article>
            <tr>
              <td>{{ article.id }}</td>
              <td>
                <span pTooltip="View post" tooltipPosition="bottom">
                  <a
                    [routerLink]="['/insights', article.slug]"
                    target="_blank"
                    class="text-black no-underline hover:text-blue-500"
                  >
                    {{ article.title }}
                  </a></span
                >
              </td>
              <td>
                <div
                  [innerHTML]="getFirstSevenWords(article.description)"
                ></div>
              </td>
              <td>
                <a
                  [href]="article.video_url"
                  target="_blank"
                  class="text-black no-underline hover:text-blue-500 hover:underline"
                  >{{ article.video_url }}
                </a>
                @if (!article.video_url) {
                  <span class="text-gray-500"> No video URL </span>
                }
              </td>
              <td class="">
                {{ article.created_at | customDate }}
              </td>
              <td>
                <p-button
                  (onClick)="navigateToDetails(article.slug)"
                  icon="pi pi-pen-to-square text-2xl text-blue-500 hover:text-blue-600"
                  link="true"
                  class="p-0"
                  pTooltip="Edit"
                  tooltipPosition="bottom"
                />
              </td>
              <td>
                <p-button
                  (onClick)="confirmDelete($event, article.slug)"
                  severity="danger"
                  icon="fa-solid fa-trash text-2xl text-primary hover:text-red-700"
                  link="true"
                  class="p-0"
                  pTooltip="Delete"
                  tooltipPosition="bottom"
                />
              </td>
            </tr>
          </ng-template>
        </p-table>
        <p-toast />
        <p-confirmDialog />
      </div>
      <!-- } -->
    </div>
  </section>
</main>
