<main class="h-full min-h-[870px] flex-1 bg-gray-100 p-6">
  <div class="min-h-screen rounded-lg bg-white p-8 shadow-lg">
    <div class="mb-4 flex justify-end">
      <a
        routerLink="/admin/add-member"
        class="me-2 rounded-lg bg-gradient-to-r from-green-400 via-green-500 to-green-600 px-5 py-2.5 text-center text-sm font-medium text-white no-underline hover:bg-gradient-to-br focus:outline-none focus:ring-4 focus:ring-green-300"
        >NEW Member</a
      >
    </div>
    <div class="card">
      <p-table
        [value]="members"
        [lazy]="true"
        [paginator]="true"
        [rows]="membersPerPage"
        [loading]="loading"
        [first]="0"
        [totalRecords]="totalMembers"
        [showCurrentPageReport]="true"
        (onLazyLoad)="onPageChange($event)"
      >
        <ng-template pTemplate="caption">
          <div>
            <h2 class="text-center">ATC Group Members</h2>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th style="width: 2rem">#</th>
            <th style="width: 30%">Name</th>
            <th style="width: 50%">Title</th>
            <th style="width: 20%">Image</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-job>
          <tr>
            <td>{{ job.id }}</td>
            <td>
              <span class="" pTooltip="View job post" tooltipPosition="bottom">
                <a
                  [routerLink]="['/jobs', job.id]"
                  target="_blank"
                  class="text-black no-underline hover:text-blue-500"
                >
                  {{ job.title }}
                  <i class="pi pi-arrow-up-right"></i> </a
              ></span>
            </td>
            <td>
              <span class="" pTooltip="View job post" tooltipPosition="bottom">
                <a
                  [routerLink]="['/jobs', job.id]"
                  target="_blank"
                  class="text-black no-underline hover:text-blue-500"
                >
                  {{ job.title }}
                  <i class="pi pi-arrow-up-right"></i> </a
              ></span>
            </td>

            <td>
              <p-button
                (onClick)="navigateToDetails(job.id)"
                icon="pi pi-pen-to-square text-2xl text-blue-500 hover:text-blue-600"
                link="true"
                class="p-0"
                pTooltip="Edit"
                tooltipPosition="bottom"
              />
            </td>
            <td>
              <p-button
                (onClick)="confirmDelete($event, job.id)"
                severity="danger"
                icon="fa-solid fa-folder-minus text-2xl text-yellow-500 hover:text-yellow-700"
                link="true"
                class="p-0"
                pTooltip="Archive"
                tooltipPosition="bottom"
              />
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-toast />
      <p-confirmDialog />
    </div>
  </div>
</main>
